* {
    margin: 0;
    padding: 0;
}

body {
    background: hsl(226, 43%, 10%);
}

/* Grid Styling - Container */
.time__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    /* height: 30em; */
    width: 75em;
    height: 450px;
    margin-left: 10em;
    position: relative;
    top: 8em;
}

/* grid item styling */

.time__user--profile {
    grid-column: 1/2;
    grid-row: 1/3;
    /* width: 70%; */
    /* height: 40em; */

}

.icon {
    height: 50px;
    width: 60px;
}

.time__work--stat {
    grid-column: 2/3;
    grid-row: 1/2;
    /* width: 70%; */
    border-radius: 10px;
}

.time__play--stat {
    grid-column: 3/4;
    grid-row: 1/2;
    /* width: 70%; */
}

.time__exercise--stat {
    grid-column: 4/5;
    grid-row: 1/2;
    /* width: 70%; */
}

.time__study--stat {
    grid-column: 2/3;
    grid-row: 2/3;
    /* width: 70%; */
}

.time__social--stat {
    grid-column: 3/4;
    grid-row: 2/3;
    /* width: 70%; */
}

.time__self--stat {
    grid-column: 4/5;
    grid-row: 2/3;
    /* width: 70%; */
}

.action--details,
.user--stat--freq {
    background: hsl(235, 46%, 20%);
    color: white;
}

.action--background--work {
    background: hsl(15, 100%, 70%);
    text-align: end;
}

.action--background--play {
    background: hsl(195, 74%, 62%);
    text-align: end;
}

.action--background--study {
    background: hsl(348, 100%, 68%);
    text-align: end;
}

.action--background--exercise {
    background: hsl(145, 58%, 55%);
    text-align: end;
}

.action--background--social {
    background: hsl(264, 64%, 52%);
    text-align: end;
}

.action--background--self {
    background: hsl(43, 84%, 65%);
    text-align: end;
}

.action {
    margin-top: 1em;
    font-size: 18px;
    margin-left: 2em;
}

.action--details {
    height: 70%;
    border-radius: 10px;
}

.action--details--last {
    margin-top: 2em;
}

/* .action--para {
    margin-top: 1em;
} */

.current--hours {
    text-align: center;
    font-size: 30px;
    /* font-weight: bold; */
}

.last-duration {
    text-align: center;
}

.freq {
    /* margin-top: 0.5em; */
    text-align: center;
    /* margin-bottom: 0.3em; */
    padding: 0.5em;
}

.freq:hover {
    font-weight: bold;
    cursor: pointer;
}

.current--hours:hover {
    font-weight: bold;
}

.last-duration:hover {
    font-weight: bold;
}


/* .stat--daily {
    padding: 0.5em;
} */

.ellipsis {
    /* margin-top: -2em; */
    margin-left: 9em;
}

.report {
    margin-top: 2em;
    text-align: left;
    margin-left: 1.5em;
    font-size: 18px;
}

.background {
    height: 30%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.user--display--picture {
    width: 90px;
    height: 90px;
    text-align: left;
    margin-left: -7em;
    margin-top: 2em;
}

.user--name {
    font-size: 30px;
    font-weight: bold;
}

.user--profile {
    background: hsl(246, 80%, 60%);
    color: white;
    text-align: center;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user--stat--freq {
    height: 30%;
    /* padding-top: 1em; */
    /* margin-top: 1em; */
}